@media only screen and (max-width: 767px) {
  .dashboard {
    min-height: 100vh;
    background: url('../Dashboard/bg.svg') no-repeat;
    display: flex;
    flex-direction: column;

    &-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      z-index: 10;

      &__item {
        position: relative;
        width: 160px;
        height: 120px;
        box-shadow: 0 2px 4px rgba(0,0,0,.4);
        margin: .5rem .5rem;
        background: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
          background: #fff;
          .dashboard-menu__item-color {
            background: #1D97D6;
          }
        }

        h2 {
          position: absolute;
          top: 10%;
          font-weight: 400;
          font-size: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          letter-spacing: 1.2px;
          svg {
            margin: 0.5rem 0;
            color: #1D97D6;
          }
        }

        .blue {
          background: #1D97D6;
        }

        &-color {
          position: absolute;
          bottom: 0;
          margin: 0;
          background: #8c8c8c;
          width: 100%;
          height: 10px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
