@media only screen and (max-width: 767px) {
  .notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      letter-spacing: 1.25px;
      color: #1D97D6;
      font-weight: 500;
    }

    button {
      letter-spacing: 1.25px;
      text-transform: uppercase;
      background-color: #1D97D6;
      color: #fff;
      border: none;
      padding: .5rem 1.8rem;
      border-radius: 50px;
    }
  }

}