.App {
  min-height: 100vh;

}

.bg {
  background: url("../App/bg.svg") no-repeat;
}

.button {
  border-radius: 50px;
  border: none;
  background: #1D97D6;
  color: #fff;
  padding: .5rem 1.8rem;
  transition: .2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  text-transform: uppercase;
  margin: 1.5rem 0;

  &-border {
    border: 2px solid #1D97D6;
    background: #fff;
    color: #1D97D6;
    box-shadow: none;
  }

  &-loading {
    svg {
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }

  &:hover {
    background: darken(#1D97D6, 10%);
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}