.account {
  background: url('../Dashboard/bg.svg') no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-delete {
    background: #F03A2E;
    transition: .2s ease-in-out;
    width: 220px;
    font-size: 12px;
    margin: 0;
    &:hover {
      background: darken(#F03A2E, 10%);
    }
  }

  form {
    margin-top: 4rem;
    button {
      width: 220px;
    }
  }

  .pass {
    margin: 1rem 0;
  }

  &-infos {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}