main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  max-width: 360px;

  header {
    position: absolute;
    top: -130%;
    h1 {
      color: #fff;
      font-size: 15px;
    }
  }

  h1 {
    font-size: 25px;
    text-align: center;
    color: #101010;
    font-weight: 400;
  }

  strong {
    color: #1D97D6;
  }

  button {
    background-color: #1D97D6;
    padding: .5rem 1.8rem;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    color: #fff;
    margin: 1rem 0;
  }
}