.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .desac {
    background: #bbb;
  }

  &-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;

    h1 {
      color: #fff;
      text-align: center;
      margin: .5rem auto;
      font-size: 30px;
      letter-spacing: 2.2px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }

  &-user {
    margin-left: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    transition: .2s ease-in-out;

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    }

    img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    svg {
      font-size: 40px;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      color: #1D97D6;
    }

    &__username {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      font-size: 15px;
      color: #fff;
    }
  }

  &-buttons {
    display: flex;
    button {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      box-shadow: 0 2px 4px rgba(0,0,0,.5);
      margin: .5rem;
      cursor: pointer;

      &:nth-child(1) {
        svg {
          left: 55%;
        }
      }

      svg {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0);
        color: #1D97D6;
      }
    }
  }
}