.create {
  background: url('../Dashboard/bg.svg') no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin:0;
    }

    button {
      margin-top: 1.5rem;
    }
  }
}