.chat {
  background: url('../Dashboard/bg.svg') no-repeat;
  &-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-messages {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);
    width: 325px;
    height: 339px;
    border: .5px solid #1D97D6;
    border-radius: 4px;
    overflow-y: auto;
  }

  &-message {
    display: flex;
    margin: 1rem 0;
    align-self: flex-start;
    &-right {
      align-self: flex-end;
    }

    &-desc {
      border: .5px solid #1D97D6;
      padding: .5rem;
      box-shadow: 0 2px 3px rgba(0,0,0,.5);
      border-radius: 4px;
      height: max-content;
      max-width: 200px;
      word-break: break-word;

      &-right {
        align-self: flex-end;
      }
    }

    &-text {
      text-align: left;
      font-size: 12px;
      margin: 0;
      display: flex;
      align-items: center;

    }

    &-empty {
      text-align: center;
    }

    &-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem;

      &-date {
        font-size: 7px;
        font-style: italic;
      }

      &-username {
        font-size: 9px;
        font-weight: 500;
        color: #1D97D6;
      }

      &-picture {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 2px 3px rgba(0,0,0,.3);
        border: .5px solid #1D97D6;
        svg, img {
          position: absolute;
          width: 70%;
          height: 70%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #1D97D6;
        }
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin-top: 1.5rem;

    button {
      position: relative;
      border-radius: 4px;
      width: 32px;
      height: 32px;
      border: none;
      outline: none;

      &:active {
        box-shadow: 0 2px 3px rgba(0,0,0, .3);
      }
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #1D97D6;
        font-size: 1.5rem;
      }
    }

  }
}