@media only screen and (max-width: 767px) {
  .dashboard {
    min-height: 100vh;
    background: url('./bg.svg') no-repeat;
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        width: 100%;

        h1 {
          color: #fff;
          text-align: center;
          margin: .5rem auto;
          font-size: 30px;
          letter-spacing: 2.2px;
          font-weight: 400;
        }
      }

      &-user {
        margin-left: 1rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,0,0,.5);
        transition: .2s ease-in-out;

        &:hover {
          box-shadow: 0 2px 8px rgba(0,0,0,.5);
        }

        svg {
          font-size: 40px;
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translate(-50%, 0);
          color: #1D97D6;
        }

        &__username {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0);
          text-align: center;
          font-size: 15px;
          color: #fff;
        }
      }

      &-buttons {
        display: flex;
        button {
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: none;
          box-shadow: 0 2px 4px rgba(0,0,0,.5);
          margin: .5rem;
          cursor: pointer;

          &:nth-child(1) {
            svg {
              left: 55%;
            }
          }

          svg {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 0);
            color: #1D97D6;
          }
        }
      }
    }

    &-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      z-index: 10;

      .desac {
        background: #bbb;
      }

      &__item {
        position: relative;
        width: 160px;
        height: 120px;
        box-shadow: 0 2px 4px rgba(0,0,0,.4);
        margin: .5rem .5rem;
        background: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
          background: #fff;
          .dashboard-menu__item-color {
            background: #1D97D6;
          }
        }

        h2 {
          position: absolute;
          top: 10%;
          font-weight: 400;
          font-size: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          letter-spacing: 1.2px;
          svg {
            margin: 0.5rem 0;
            color: #1D97D6;
          }
        }

        .blue {
          background: #1D97D6;
        }

        &-color {
          position: absolute;
          bottom: 0;
          margin: 0;
          background: #8c8c8c;
          width: 100%;
          height: 10px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}