
@media only screen and (max-width: 766px) {
   .page {
    display: flex;
    flex-direction: column;
    align-items: center;

     a {
       font-size: 10px;
       color: #1D97D6;
       font-style: italic;

     }

     button {
       background-color: #1D97D6;
       padding: .5rem 1.8rem;
       text-transform: uppercase;
       border: none;
       border-radius: 30px;
       color: #fff;
       margin: 1rem 0;
     }

    header {
      height: 220px;

      h1 {
        color: #fff;
        font-weight: 400;
        letter-spacing: 1.25px;
      }
    }

    h2 {
      font-weight: 400;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      font-size: 15px;
      margin-top: 2rem;
    }

     .form {
       display: flex;
       flex-direction: column;
       align-items: center;
     }

     .input {
       position: relative;
       margin: .7rem 0;
       display: flex;
       flex-direction: column;
       max-width: 200px;


       .label-selected {
         top: -14px;
         left: 7px;
       }

       small {
         font-size: 10px;
       }

       label {
         position: absolute;
         top: 0px;
         left: 10px;
         transition: .2s ease-in-out;
         font-size: 12px;
       }

       input {
         border: none;
         border-bottom: 2px solid #1D97D6;
         font-size: 15px;
         outline: none;
         width: 200px;
       }
     }
  }


}

