
@media only screen and (max-width: 766px) {
   .page {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      height: 220px;

      h1 {
        color: #fff;
        font-weight: 400;
        letter-spacing: 1.25px;
      }
    }

    h2 {
      font-weight: 400;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      font-size: 15px;
      margin-top: 2rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.input {
  position: relative;

  .label-selected {
    bottom: 17px;
    left: 7px;
  }

  label {
    position: absolute;
    bottom: 7px;
    left: 10px;
    transition: .2s ease-in-out;
  }

  input {
    border: none;
    border-bottom: 2px solid #1D97D6;
    font-size: 15px;
    outline: none;
  }
}