.message {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 3px solid #1D97D6;
  border-radius: 7px;
  padding: .7rem 1rem;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.5);
  width: 300px;

  button {
    border: none;

    svg {
      color: #1D97D6;
      font-size: 30px;
    }
  }

  p {
    margin: 0;
    font-size: 12px;
    max-width: 100%;
  }

  &-error {
    color: red;
  }
  &-text {
    color: #1D97D6;
  }
}